<div class="covidcovid">
<div class="container-covid">
    <svg class="logo-covid" focusable="false"
         height="100%" role="img" width="100%"><title>C</title>
        <use xlink:href="#kijiji-logo-black"></use>
    </svg>
    <div class="container-covid-mid ">
        <h2 class="messageHeader-covid-main">We’re here to help you fix your devices during this critical time</h2><h5 class="messageHeader-covid-secondary">COVID-19 : health and safety updates</h5></div>
    <a class="button button-secondary button-covid-main"
       href="https://aide.kijiji.ca/info-de-base/precautions-en-lien-avec-la-covid-19"
       title="S&#x27;ouvre dans une nouvelle fenêtre." target="_blank">Learn more</a>
    <div
            class="dismissButton">
        <i class="far fa-times-circle"></i>
            <use xlink:href="#icon-x"></use>
        </svg>
    </div>
</div>
</div>